@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}
img{
    object-fit: cover;

}
body{
    background-color: #f1f1f1;
}
nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}
nav a.logo{
    font-size: 33px;
    color: green;
    font-weight: 700;
}
nav .links a:not(:last-child){
    margin-right: 20px;
}
nav .login button{
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: green;
    border-radius: 4px;
    margin-right: 14px;
    color: #fff;
}
nav .login button.singup{
    background-color: transparent;
    color: #000;
    border-radius: 4px;
    margin-right: 14px;
}
header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .text-left{
    width: 700px;
}
header .text-left .title-p span{
    font-family: "Prompt", serif;
    font-size: 50px;
    font-weight: bold
}
header .text-left .title-p{
    font-size: 30px;
    color: black;
}
header .text-left p{
    font-family: "Prompt", serif;
}
header img{
    width: 700px;
}
header .button-a button{
    color: white;
    background-color: green;
    border-radius: 6px;
    padding: 15px;
    margin-top:  20px;
    cursor: pointer;
    border: none;
}
    
header i{
    font-size: 20px;
}
header .text-left h1{
    width: 200px;
}